In [1]:
import pandas as pd

In [6]:
import numpy as np

In [4]:
df1=pd.read_pickle('test_cleaned_dataset_part1_fix4000000head_save')

In [16]:
pred_df=pd.read_csv('final_prediction_file_fixed_to_submit.csv')

In [14]:
df2 = pd.read_csv('Data Mining VU data/test_set_VU_DM_2014.csv')

In [7]:
df2.iloc[:len(df1)]["srch_id"]

0               1
1               1
2               1
3               1
4               1
5               1
6               1
7               1
8               1
9               1
10              1
11              1
12              1
13              1
14              1
15              1
16              1
17              1
18              1
19              1
20              1
21              1
22              1
23              1
24              1
25              1
26              1
27              1
28              1
29              3
            ...
3999970    268667
3999971    268667
3999972    268667
3999973    268667
3999974    268667
3999975    268667
3999976    268667
3999977    268667
3999978    268667
3999979    268668
3999980    268668
3999981    268668
3999982    268668
3999983    268668
3999984    268668
3999985    268668
3999986    268668
3999987    268668
3999988    268668
3999989    268668
3999990    268668
3999991    268668
3999992    268668
3999993    268668
3999994    268668
3999995    268668
3999996    268668
3999997    268668
3999998    268668
3999999    268668
Name: srch_id, Length: 4000000, dtype: int64

In [8]:
np.corrcoef(df2.iloc[:len(df1)]["srch_id"],df1.srch_id)

array([[1., 1.],
       [1., 1.]])

In [17]:
np.corrcoef(df2["srch_id"],pred_df['SearchId'])

array([[1., 1.],
       [1., 1.]])

In [19]:
pred_df

         SearchId  PropertyId
0               1       99484
1               1       24194
2               1       34263
3               1       61934
4               1       54937
5               1       28181
6               1       95031
7               1       82231
8               1       50162
9               1       90385
10              1       72090
11              1       63894
12              1       37567
13              1       78599
14              1        5543
15              1      128085
16              1      123675
17              1       74045
18              1       14142
19              1       73666
20              1       89466
21              1       94729
22              1       22393
23              1        3180
24              1      128871
25              1      134992
26              1      139162
27              1       61632
28              1       56050
29              3      131940
...           ...         ...
4959153    332785      131198
4959154    332785      122587
4959155    332786      103457
4959156    332786       36331
4959157    332786       45449
4959158    332786       54994
4959159    332786      117267
4959160    332786       59590
4959161    332786      128251
4959162    332786       63164
4959163    332786      135414
4959164    332786       19265
4959165    332786       46497
4959166    332786       92950
4959167    332786       29028
4959168    332786      127402
4959169    332786       43698
4959170    332786      125075
4959171    332786      101905
4959172    332786      113183
4959173    332786       15662
4959174    332786       54775
4959175    332786       98306
4959176    332787       33959
4959177    332787       22854
4959178    332787       29018
4959179    332787       32019
4959180    332787       94437
4959181    332787       99509
4959182    332787       35240

[4959183 rows x 2 columns]